{% extends "base.html" %}
{% load static%}
{% load crispy_forms_tags %}

{%block category%}
    <link rel="stylesheet" media='screen and (min-width: 900px)' href="{% static 'css/category.css' %}">
    <link rel='stylesheet' media='screen and (max-width: 900px)' href="{% static 'css/category_mobile.css' %}" />
{%endblock%}

{%block content%}
    <section id="big_cont_cat">
        <div id="sub_wrapper">
            <div id="sub_title">best templates for Artists:</div>
            <div id="sub_pages_wrapper">
                <div class="page_model">
                    <div class="model_star" title="advanced template">
                        <img src="{% static 'img/star.png' %}" alt="">
                    </div>
                    <div class="page_model_top">
                        <img src="{% static 'img/temp10.jpg' %}" alt="">
                    </div>
                    <div class="page_model_bottom">
                        <div class="model_name">NOVO</div>
                        <div class="model_edit onHover">Edit</div>
                    </div>
                </div>
                <div class="page_model">
                    <div class="model_star" title="advanced template">
                        <img src="{% static 'img/star.png' %}" alt="">
                    </div>
                    <div class="page_model_top">
                        <img src="{% static 'img/temp5.jpg' %}" alt="">
                    </div>
                    <div class="page_model_bottom">
                        <div class="model_name">BEAUMONT</div>
                        <div class="model_edit onHover">Edit</div>
                    </div>
                </div>
                <div class="page_model">
                    <div class="model_star" title="advanced template">
                        <img src="{% static 'img/star.png' %}" alt="">
                    </div>
                    <div class="page_model_top">
                        <img src="{% static 'img/temp7.jpg' %}" alt="">
                    </div>
                    <div class="page_model_bottom">
                        <div class="model_name">BARBOSA</div>
                        <div class="model_edit onHover">Edit</div>
                    </div>
                </div>
                <div class="page_model">
                    <div class="model_star" title="advanced template">
                        <img src="{% static 'img/star.png' %}" alt="">
                    </div>
                    <div class="page_model_top">
                        <img src="{% static 'img/temp8.jpg' %}" alt="">
                    </div>
                    <div class="page_model_bottom">
                        <div class="model_name">HESTER</div>
                        <div class="model_edit onHover">Edit</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endblock%}