{% extends "base.html" %}
{% load static%}
{% load crispy_forms_tags %}

{%block main%}
    <link rel="stylesheet" media='screen and (min-width: 900px)' href="{% static 'css/main.css' %}">
    <link rel='stylesheet' media='screen and (max-width: 900px)' href="{% static 'css/main_mobile.css' %}" />
{%endblock%}
{%block content%}
    <section id="big_cont2">
        <div id="category_wrapper">
            <div id="cat_title">Our categories :</div>
            <div id="all_cat">
                <a href="{% url 'photographer' %}"><div class="category">
                    <div class="cat">
                        <div class="cat_title">Photographers</div>
                        <img src="{% static 'img/im1.png' %}" alt="" class="cat_img">
                    </div>
                    <div class="overlayer overlayer1">
                        <div class="overlay_text">
                            <div class="explore">Explore</div>
                            <img src="{% static 'img/arrow.svg' %}" alt="" class="overlayer_img">
                        </div>
                    </div>
                </div></a>
                <a href="{% url 'designer' %}"><div class="category">
                    <div class="cat">
                        <div class="cat_title">Designers</div>
                        <img src="{% static 'img/img2.png' %}" alt="" class="cat_img">
                    </div>
                    <div class="overlayer overlayer2">
                        <div class="overlay_text">
                            <div class="explore">Explore</div>
                            <img src="{% static 'img/arrow.svg' %}" alt="" class="overlayer_img">
                        </div>
                    </div>
                </div></a>
                <a href="{% url 'artist' %}"><div class="category">
                    <div class="cat">
                        <div class="cat_title">Artists</div>
                        <img src="{% static 'img/img3.png' %}" alt="" class="cat_img">
                    </div>
                    <div class="overlayer overlayer3">
                        <div class="overlay_text">
                            <div class="explore">Explore</div>
                            <img src="{% static 'img/arrow.svg' %}" alt="" class="overlayer_img">
                        </div>
                    </div>
                </div></a>
                <a href="{% url 'illustrator' %}"><div class="category">
                    <div class="cat">
                        <div class="cat_title">Illustrators</div>
                        <img src="{% static 'img/img4.png' %}" alt="" class="cat_img">
                    </div>
                    <div class="overlayer overlayer4">
                        <div class="overlay_text">
                            <div class="explore">Explore</div>
                            <img src="{% static 'img/arrow.svg' %}" alt="" class="overlayer_img">
                        </div>
                    </div>
                </div></a>
                <a href="{% url 'makeup' %}"><div class="category">
                    <div class="cat">
                        <div class="cat_title">Models/makeup artists</div>
                        <img src="{% static 'img/img5.png' %}" alt="" class="cat_img">
                    </div>
                    <div class="overlayer overlayer5">
                        <div class="overlay_text">
                            <div class="explore">Explore</div>
                            <img src="{% static 'img/arrow.svg' %}" alt="" class="overlayer_img">
                        </div>
                    </div>
                </div></a>
            </div>
        </div>
    </section>
{%endblock%}