
html{
    font-size: 62.5%;
    overflow-x: hidden;

}
::selection {
    background-color: #F9A0DE ;
    color: #FFF ;
  }
body::-webkit-scrollbar {
    scrollbar-width: 5px;  
    background-color: transparent;  
    color:#fff;
    border-radius: 5px; 
    width:4px;
 
}
body::-webkit-scrollbar-thumb {
    background: #F9A0DE; 
    border-radius: 5px; 

}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden ;
    box-sizing: border-box;
    font-size: 1.6em;
    background-color:#1D222C;
    cursor:none;


}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    top: 0;
    width: 100vw;
    z-index: 99;
    margin-top: 8px;
    padding-bottom: 10px;
}
#header_p1{
    display: flex;
    flex-direction: row;
}
#nav{
border-left: 3px solid #808DAD;
margin-top: 10px;
}
#logo{
    height: 35px;
    width: auto;
}
#logo_link{
    position: relative;
    top:12px;
    left: 25px;
    padding-right: 55px;
}
#dashboard{
    display: block;
    height: max-content;
    border: 3px solid #83CCB3;
    border-radius: 44px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 550;
    font-size: 17px;
    color: #83CCB3;
    margin-right: 40px;
    margin-top: 17px;
    padding:10px 22.5px 11px 22.5px;
    text-align: center;
    transition: 0.15s ease-in-out;

}
#dashboard:hover{
    color: #78E8C2;
    border: 3px solid #78E8C2;
    box-shadow: 0px 0px 6px 1px #78E8C2;
    cursor: pointer;
}
#profile_btn{
    display: block;
    height: max-content;
    border: 3px solid #83CCB3;
    border-radius: 44px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 550;
    font-size: 17px;
    color: #83CCB3;
    margin-right: 40px;
    margin-top: 17px;
    padding:10px 22.5px 11px 22.5px;
    text-align: center;
    transition: 0.15s ease-in-out;

}
#profile_btn:hover{
    color: #78E8C2;
    border: 3px solid #78E8C2;
    box-shadow: 0px 0px 6px 1px #78E8C2;
    cursor: pointer;
}
.wrapper{
    margin-right: 3vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

li {
    margin-right: 1vw;
}

li a {
    display: block;
    font-family: 'Montserrat Alternates';
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    color: #808DAD;
    padding: 5px 0px 7px 25px;
    text-decoration: none;
    border-radius:2px;
    margin-top:5px

}

li a:hover {
    color: #e0e0e0;
}
#active{
    display:none
}



        /* preloader */



#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:9999;
    background-color:#1E242E;

}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 110px;
    height: 110px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #5E48E8;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #FFFFFF;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #F9A0DE;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#lexilot{
    background-color:#1E242E;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:none;
}
#lexilot_logo{
    transform:scale(0.45)
}
#path{
    stroke-dasharray: 85.41450500488281;
    stroke-dashoffset: 85.41450500488281;
}
#path2{
    stroke-dasharray: 161.4441680908203;
    stroke-dashoffset: 161.4441680908203;
}
#path3{
    stroke-dasharray: 67.4247817993164;
    stroke-dashoffset: 67.4247817993164;
}
#path4{
    stroke-dasharray: 67.42477416992188;
    stroke-dashoffset: 67.42477416992188;
}
#path5{
    stroke-dasharray: 54;
    stroke-dashoffset: 54;
}
#path6{
    stroke-dasharray: 29.89708137512207;
    stroke-dashoffset: 29.89708137512207;
}
#path7{
    stroke-dasharray: 85.41415405273438;
    stroke-dashoffset: 85.41415405273438;
}
#path8{
    stroke-dasharray: 127.37225341796875;
    stroke-dashoffset: 127.37225341796875;
}
#path9{
    stroke-dasharray: 81.39590454101562;
    stroke-dashoffset: 81.39590454101562;
}
#path10{
    stroke-dasharray: 14;
    stroke-dashoffset: 14;
}
#path69{
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
}
#line{
    visibility: hidden;
}

#container{
    background-color:#1E242E;
    height:100vh;
}


#signup_page,#login_page{
    width: 100vw;
    height: 100vh;
    background-color:rgb(30, 36, 46,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 0;
    z-index:9;
    }

#signup_p1{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    width: 40%;
    height: 100%;
}
#signup_logo{
    height: 30px;
    width: auto;
    position: absolute;
    top: 15px;
    left: 15px;
}
#login_title{
    width:max-content;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #f5bf37;
    margin-top:0px;
    margin-bottom:70px;
}
#login_title_wrapper{
    display: flex;
    align-items:start;
    justify-content: start;
    margin-bottom: 15px;
}
#hint_id_username,#hint_id_password1,#hint_id_password2{
    display: none;
}
#signup_title{
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #FFFFFF;
    margin-right: 20px;
    padding-bottom: 1px;
    border-bottom: 3px solid #F9A0DE;
}
#signin_title{
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    padding-bottom: 1px;

    color: #BBBBBB;
}
#signup_p2{
    background-color:#5E48E8;
    padding: 20px;
    border-radius: 20px;
    margin-left: 25px;

}
label{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #BBBBBB;
}
input{
    border-style: solid;
    width: 18vw;
    height: 3.4vh;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color:rgb(255, 255, 255);
    border-width: 0;
}


input[type=submit]{
    background-color:#F9A0DE;
    padding: 7px 18px 7px 18px;
    border-style: solid;
    width: max-content;
    height: max-content;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    border-radius: 7px;
    border-width: 0px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 15px;
    margin-bottom: 10px;
    /* position: absolute;
    left: 50%;
    transform:translateX(-50%) */

}
input[type=submit]:hover{
    cursor: pointer;
    opacity: 0.7;

}
#f_login{
    background-color:#5663D9;
    padding: 7px 20px 7px 20px;
    width: max-content;
    height: max-content;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #ffffff;
    border-radius: 7px;
    margin-left: -30px;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 120%;
    text-align: center;

}
#g_login{
    background-color:#DD7373;
    padding: 7px 20px 7px 20px;
    width: max-content;
    height: max-content;
    font-family: Poppins;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    color: #ffffff;
    border-radius: 7px;
    margin-left: -30px;
    box-sizing: border-box;
    width: 120%;
}
#g_login:hover,#f_login:hover,#signin_title:hover,#signup_title:hover{
    cursor: pointer;
    opacity:0.9;
}
#login{
    display:none;
}
#other_login2{
    display:none;
}



#big_cont_cat{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width:100vw;
}            
#sub_wrapper{
    width: 88vw;
    position: relative;
}
#sub_title{
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    color: #F9A0DE;
    margin: 0px 0px 30px 0px;
}
#sub_pages_wrapper{
    border: 3px solid #787878;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
    padding: 3.33vw 0px 0px 0px;
}
.page_model{
    width: 39vw;
    height: 32vw;
    /* border: 3px solid #787878; */
    border-radius: 15px;
    position: relative;
    margin: 0;
    margin-bottom: 50px;

}

.model_star{
    position: absolute;
    top: -1px;
    right: -1px;
    padding:5px 15px 5px 15px;
    background-color:#787878;
    border-radius: 0px 12px 0px 3px;
    z-index: 2;
}
.model_star img{
    height: 30px;
    width: auto;
}
.page_model_bottom{
    width: 100%;
    height: 20%;
    background-color:#787878;
    display: flex;
    justify-content:space-between;
    align-items:center;
    position: absolute;
    bottom: 0px;
    border-radius: 0px 0px 12px 12px;
}
.model_name{
    margin-left: 25px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color:#FFFFFF;
}
.model_edit{
    margin-right: 25px;
    padding: 7px 27px ;
    border: 3px solid #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color:#FFFFFF;
    border-radius: 10px;
}
.model_edit:hover{
    opacity: 0.6;
    transition: 0.5s;
    cursor: pointer;
}
.page_model_top{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0px;
    border-radius:12px 12px 0px 0px ;
}
.page_model_top img{
    width: 100%;
    height: 100%;
    border-radius:12px 12px 0px 0px ;
}